@mixin keyFrames($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyFrames(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyFrames(fade-out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@include keyFrames(slide-in) {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@include keyFrames(slide-out) {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@mixin animation($name, $duration, $timing-function: ease, $delay: infinite) {
  animation: $name $duration $timing-function $delay;
  -webkit-animation: $name $duration $timing-function $delay;
  -moz-animation: $name $duration $timing-function $delay;
  -o-animation: $name $duration $timing-function $delay;
}
