$primary-color: #004aad;
$secondary-color: #ffd95c;
$transparent-color: transparent;
$WHITE: #fff;
$BLACK: #000;
$GREY: #ccc;
$RED: #a70707;
$light-white: #f5f5ef;
$light-blue: #2368c4;
$lighter-blue: #89b8f6;
$light-grey: #f7f7f7;
