@use "../../../styles/global" as *;
.summary {
  width: calc(100% - 24px);
  @include setFlexProperty(column, flex-start, flex-start, 10px);
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 12px;
  p {
    margin: 0;
  }
  &__title {
    @include typography-m-bold();
    @include setFlexProperty(row, center, center, 10px);
    color: $secondary-color;
    background: $light-blue;
    width: 100%;
    color: black;
    width: max-content;
    background-color: transparent;
    text-transform: uppercase;
    // border-bottom: 2px solid $primary-color;
  }

  &__content {
    @include setFlexProperty(column, flex-start, flex-start, 10px);
    padding: 0px 15px;
    margin: 0;
    .item {
      @include typography-s-normal();
    }
  }
}
