@use "../../styles/global" as *;

.input-container {
  @include setFlexProperty(column, flex-start, flex-start, 5px);
  &.input-container-inline {
    @include setFlexProperty(row, flex-start, center, 5px);
    .input-label {
      width: 200px;
    }
  }
  .input-label {
    @include typography-m-normal();
    width: 300px;
  }
  .input-wrapper {
    width: 300px;
    .input-field {
      width: calc(100% - 20px);
      height: 40px;
      border: 1px solid $GREY;
      border-radius: 5px;
      padding: 0 10px;
      @include typography-m-normal();
      outline: none;
      &.error {
        border: 1px solid $RED;
      }
      &:disabled {
        @include setDisabledInput();
      }
    }
    &.input-wrapper-standard {
      .input-field {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $GREY;
      }
    }
    &.input-wrapper-password {
      position: relative;
      .input-field {
        &:disabled + .password-toggle {
          @include setDisabledInput();
        }
      }
      .password-toggle {
        position: absolute;
        right: 10px;
        top: 8px;
      }
    }
    .error-message {
      color: $RED;
      margin: 0;
      padding-top: 10px;
    }
  }
}
